<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>청개천</title>

  <!-- Bootstrap -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="../../css/isotope.css" media="screen" />
  <link rel="stylesheet" href="../../css/animate.css">
  <link rel="stylesheet" href="../../js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <link href="../../css/style.css" rel="stylesheet">
  <!-- =======================================================
    Theme Name: Dewi
    Theme URL: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

    <p>
    <div class="container">  <!-- container class 가 페이지의 컨텐츠영역을 지정 -->
    <div class="jumbotron" style="width:1000px; margin:auto">
      <%
      var idata = idata[0];
      %>
      <div class="input-group-prepend">
        <span class="input-group-text">제목</span>
        <div class="d-inline-flex p-2 bd-highlight"><%=idata.ititle %></div>
      </div>
      <div class="starter-template">
        <h4> </h4> <hr>
      </div>

   <form name=join onsubmit="return validate()" method=get>
     <div class="input-group-prepend">
       <span class="input-group-text">작성자</span>
       <div class="d-inline-flex p-2 bd-highlight"><%=idata.uid %></div>
       <div class="text-right"></div>
     </div>
     <div class="starter-template">
       <h4> </h4> <hr>
     </div>
     <div class="input-group-prepend">
       <span class="input-group-text">문의유형</span>
       <div class="d-inline-flex p-2 bd-highlight"><%=idata.itype %></div>
       <div class="text-right"></div>
     </div>
     <div class="starter-template">
       <h4> </h4> <hr>
     </div>
     <div class="input-group-prepend">
       <span class="input-group-text">내용</span>
        <div>
          <textarea name="content" cols="68" rows="10" readonly><%=idata.iquestion%></textarea>
        </div>
     </div>
     <div class="starter-template">
       <h4> </h4> <hr>
     </div>
     <div class="input-group-prepend">
       <span class="input-group-text">답변</span>
        <div>
          <textarea name="content" cols="68" rows="10" readonly ><%=idata.ireply%></textarea>
        </div>
     </div>
     <div class="starter-template">
       <h4> </h4> <hr>
     </div>
         <a class="btn btn-secondary btn-lg btn-block" href="/adminuser/boardlist/1">돌아가기</a>
      </form>
     </div>
     </div>


 <!-- Footer 영역 -->
