<main role="main">
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>청개천</title>

    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="../../css/isotope.css" media="screen" />
    <link rel="stylesheet" href="../../css/animate.css">
    <link rel="stylesheet" href="../../js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link href="../../css/style.css" rel="stylesheet">
    <!-- =======================================================
      Theme Name: Dewi
      Theme URL: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
  </head>

<hr>
<section class="jumbotron text-center">
  <div class="container">
    <p class="lead text-muted"> 기타 카테고리
      </p>
  </div>
</section>

<div class="container-fluid" style="border: solid 20px white; border-radius: 1px">
     <div class="container">
       <% for(var i=page_num*(page - 1); i<page*page_num; i++){ %>
              <% if(i == leng) break; %>
             <% var item = tdata[i]; %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="align-self-start mr-3" alt="기타" width="338px" height="250px" src=<%=item.tpic%> >
          <div class="card-body">
            <p class="card-text"><%=item.tcomment %></p>
            <div class="d-flex justify-content-between align-items-center">
                <a class="btn btn-sm btn-outline-secondary btn-light" href="/adminprod/read/<%=item.tnum %>">상세보기</a>
                <small class="text-muted"> 가격 : <%= item.tprice %>원&nbsp;&nbsp;장소 : <%= item.tplace %></small>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <nav class="text-center" aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <% for(var i = 0; i < tdata.length/page_num; i++) { %>
      <% if(page == i + 1){ %>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="/adminprod/etc/<%=i+1%>"><%=i+1%> <span class="sr-only">(current)</span></a>
        </li>
      <% }else{ %>
        <li class="page-item" aria-current="page">
            <a class="page-link" href="/adminprod/etc/<%=i+1%>"><%=i+1%> <span class="sr-only">(current)</span></a>
        </li>
      <% } %>
    <% } %>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
  </nav>
